# Dependencies\nnode_modules/\n/.pnp\n.pnp.js\n.yarn/install-state.gz\n\n# Next.js\n/.next/\n/out/\n\n# Production\n/build\n.vercel\n\n# Misc\n.DS_Store\n*.pem\n.env\n.env.local\n.env.development.local\n.env.test.local\n.env.production.local\n\n# Debug\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\n.pnpm-debug.log*\n\n# IDE\n.vscode/\n.idea/\n*.swp\n*.swo\n*~\n\n# OS\nThumbs.db\n